# Assignment :- Dictionary{}

## Abhilash Gajbhiye ( contact to : abhi.gajbhiye94055@gmail.com or 7218287098 )

### Batch - LB_DSC_23rd December_WKDY_EN_2022

In [2]:
# Initialize a dictionary "emp_info" with below details
# In - emp_info['Tom']
# Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}

# In - emp_info['Kathy']
# Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}

dic=  {'email':'latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}
dic['email']= 'asd'
print(dic)

{'email': 'asd', 'Phone': 1987654321, 'City': 'California'}

In [1]:
# Create a dictionary out of below inputs
lst1 = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500']

# Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
#                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}
D1 = dict(zip(lst1, [dict(zip(emp_key, e)) for e in [emp1_val, emp2_val, emp3_val]]))
print(D1)

{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [25]:
# Acess the value of key 'history'

a = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}
print(a)
print(a['class']['student']['marks']['history'])

{'class': {'student': {'name': 'Mike', 'marks': {'physics': 70, 'history': 80}}}}
80

In [29]:
# Initialize dictionary with default values. Inputs are:-
# employees = ['Kelly', 'Emma', 'John']
# defaults = {"designation": 'Application Developer', "salary": 8000}

#Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'Emma': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'John': {'designation': 'Application Developer', 'salary': 8000}}
employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

d= dict.fromkeys(employees, defaults)
print(d)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [30]:
# In gene expression, mRNA is transcribed from a DNA template. 
# The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
# Write a function that returns the mRNA transcript given the sequence of a DNA strand.

# Use a dictionary to provide the mapping of DNA to RNA bases.

def mRNAtranscription(dna_template):
    dna2rna = {'A':'U', 'T':'A', 'C':'G', 'G':'C'  }
    mRNA = ''
    for base in dna_template:    
        mRNA+=(dna2rna.get(base))  
    return mRNA

In [2]:
# Write a function which takes a word as input and returns a dictionary with letters as key and no of time letters are repeated as value.
# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

test_str = "google.com"

res = {i: test_str.count(i) for i in set(test_str)}
print(res, type(res))

{'.': 1, 'l': 1, 'g': 2, 'o': 3, 'c': 1, 'm': 1, 'e': 1} <class 'dict'>

In [4]:
# A DNA strand consisting of the 4 nucleotide bases is usually represented with a string of letters: A,T, C, G. 
# Write a function that computes the base composition of a given DNA sequence.

# In - baseComposition("CTATCGGCACCCTTTCAGCA")
# Out - {'A': 4, 'C': 8, 'T': 5,  'G': 3 }

base_comp = "CTATCGGCACCCTTTCAGCA"
res = {i: base_comp.count(i) for i in set(base_comp)}
print(res)


# In - baseComposition("AGT")
# Out - {'A': 1, 'C': 0, 'T': 1,  'G': 1 }

base_comp1 ='AGT'
ABC = {i: base_comp1.count(i) for i in set(base_comp1)}
print(ABC)

{'A': 4, 'T': 5, 'C': 8, 'G': 3}
{'A': 1, 'T': 1, 'G': 1}

In [9]:
# [MCQ] Suppose "d" is an empty dictionary, which statement does not assign "d" with {"Name":"Tom"}? 
# 1. d = {"Name": "Tom" }
# 2. d["Name"] = "Tom"
# 3. d.update({"Name": "Tom" })
# 4. d.setdefault("Name", "Tom")
# 5. None of the above.
print("5. None of above")

5. None of above

In [10]:
# [MCQ] d = {"a":1, "b":2}. Which of the statements returns [1,2]? 
# 1. d.keys()
# 2. d.values()
# 3. d.items()
# 4. d.popitem()
# 5. None of the above.
print('2. d.values()')

2. d.values()

In [5]:
# [MCQ] Which of the following declarations is not valid for 'dict' type?
# 1. d = {"Name": "Tom" }
# 2. d = { (1,3,4): 4.5 }
# 3. d = { ["First", "Last"]: (1,3) }
# 4. d = { 1: 0.4 }
# 5. None of the above
print('3. d = { ["First", "Last"]: (1,3) }')

3. d = { ["First", "Last"]: (1,3) }

In [15]:
# Write a function reverseLookup(dictionary, value) that takes in a dictionary 
# and a value as arguments and returns a sorted list of all keys that contains the value. 
# The function will return an empty list if no match is found.

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)
# Out - ['a']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)
# Out - ['b', 'c']
# In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)
# Out - []
def reverseLookup(dictionary, lp_value):
    all_keys = []    
    for key, value in dictionary.items():

        if(value == lp_value):
            all_keys.append(key)
    return all_keys
            


a= reverseLookup({'a':1, 'b':2, 'c':2}, 1)
print(a)

b= reverseLookup({'a':1, 'b':2, 'c':2},2)
print(b)

c= reverseLookup({'a':1, 'b':2, 'c':2}, 3)
print(c)

['a']
['b', 'c']
[]

In [ ]:
# Write a function invertDictionary(d) that takes in a dictionary as argument and return a dictionary that inverts the keys and the values of the original dictionary.
# In - invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})
# Out - {1: ['a'], 2: ['b', 'd'], 3: ['c']}
# In - invertDictionary({'a':3, 'b':3, 'c':3})
# Out - {3: ['a', 'c', 'b']}
# In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
# Out - {1: ['b', 'd'], 2: ['a', 'c']}

In [12]:
my_dict={'a':1, 'b':2, 'c':3, 'd':2}
def invertedDictionary(my_dic):
    my_inverted_dict = dict()
    for key, value in my_dict.items():
        my_inverted_dict.setdefault(value, list()).append(key)
    print(my_inverted_dict)

invertedDictionary(my_dic)

{1: ['a'], 2: ['b', 'd'], 3: ['c']}

In [13]:
my_dict={'a':3, 'b':3, 'c':3}
invertedDictionary(my_dic)

{3: ['a', 'b', 'c']}

In [14]:
my_dict={'a':2, 'b':1, 'c':2, 'd':1}
invertedDictionary(my_dic)

{2: ['a', 'c'], 1: ['b', 'd']}

In [ ]:
# Write a function that converts a sparse vector into a dictionary as described above.
# In - convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])
# Out - {0: 1, 3: 2, 7: 3, 12: 4}
# In - convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])
# Out - {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
# In - convertVector([0, 0, 0, 0, 0])
# Out - {}

In [17]:
def convertVector(numbers):
    d = {}
    for k, c in enumerate(numbers):
        if c:
            d[k] = c  
    return d

In [18]:
convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])

{0: 1, 3: 2, 7: 3, 12: 4}

In [19]:
convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])

{0: 1, 2: 1, 4: 2, 6: 1, 9: 1}

In [20]:
convertVector([0, 0, 0, 0, 0])

{}

In [ ]:
# Write a function that converts a dictionary back to its sparse vector representation.
# In - convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})
# Out - [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
# In - convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})
# Out - [1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
# In - convertDictionary({})
# Out - []

In [33]:
def convertDictionary(dictionary):
    M = max(dictionary, default=0)
    vector = []
    for i in range(M):
        vector.append(dictionary.get(i, 0))
    print(vector)

In [34]:
convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})

[1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0]

In [35]:
convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})

[1, 0, 1, 0, 2, 0, 1, 0, 0]

In [36]:
 convertDictionary({})

[]

In [ ]:
# Given a Python dictionary, Change Bradâ€™s salary to 8500
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 6500}
# }

# Expected Output
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 8500}
# }

In [54]:
sampleDict = {
      'emp1': {'name': 'Jhon', 'salary': 7500},
      'emp2': {'name': 'Emma', 'salary': 8000},
      'emp3': {'name': 'Brad', 'salary': 6500}
 }

sampleDict.update({"emp3":"{'name': 'Brad',salary': 8500}"})
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': "{'name': 'Brad',salary': 8500}"}

In [ ]:
# Get the key corresponding to the minimum value from the following dictionary
# sampleDict = {
#   'Physics': 82,
#   'Math': 65,
#   'history': 75
# }

# Expected Output
# Math

In [61]:
 sampleDict = {
   'Physics': 82,
   'Math': 65,
   'history': 75
 }
min(sampleDict, key=sampleDict.get)

'Math'

In [ ]:
# Rename key city to location in the following dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
# }

# Expected Output
# {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "location": "New york"
# }

In [ ]:
 sampleDict = {
   "name": "Kelly",
   "age":25,
   "salary": 8000,
   "city": "New york"
 }

In [66]:
sampleDict.update({"location": "New york"})
print(sampleDict)

{'Physics': 82, 'Math': 65, 'history': 75, 'city': 'Location', 'location': 'New york'}

In [ ]:
# Check if a value 200 exists in a dictionary
# sampleDict = {'a': 100, 'b': 200, 'c': 300}

# Expected Output: True

In [70]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}

200 in sampleDict.values()

True

In [ ]:
# Delete set of keys from Python Dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
  
# }
# keysToRemove = ["name", "salary"]

# Expected Output:
# {'city': 'New york', 'age': 25}

In [72]:
sampleDict = {
  "name": "Kelly",
   "age":25,
   "salary": 8000,
   "city": "New york"
  
 }



# Keys to remove
keys = ["name", "salary"]

for k in keys:
    sampleDict.pop(k)
print(sampleDict)

{'age': 25, 'city': 'New york'}

# THANK YOU1

In [73]:
pwd

'C:\\Users\\LENOVO\\Downloads'